<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true"
      >

  <variables>
    <variable name="startTime" />
    <variable name="layout" />
  </variables>

  <targets>
      <target name="targetFile"
              xsi:type="File"
              fileName="Logs\Log_${var:startTime}.log"
              layout="${var:layout}"
              keepFileOpen="false"
              />
      <target name="console"
              xsi:type="Console"
              layout="${var:layout}"
              detectConsoleAvailable="true"
              />
  </targets>

  <rules>
    <logger name="FileLogger"
            minlevel="Trace"
            writeTo="targetFile"
            />
    <logger name="ConsoleLogger"
            minlevel="Debug"
            writeTo="console"
            />
  </rules>
</nlog>