<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true"
      throwConfigExceptions="true"
      >

  <variable name="fileName" value="Unknown"/>
  <variable name="layoutConsole" value="Unknown"/>
  <variable name="layoutFile" value="Unknown"/>

  <targets>
    <target name="targetFile"
            xsi:type="File"
            fileName="${var:fileName}"
            layout="${var:layoutFile}"
            keepFileOpen="false"
            maxArchiveFiles="20"
            />
    <target name="console"
            xsi:type="Console"
            layout="${var:layoutConsole}"
            detectConsoleAvailable="true"
            />
  </targets>

  <rules>
    <logger name="FileLogger"
            minlevel="Trace"
            writeTo="targetFile"
            />
    <logger name="ConsoleLogger"
            minlevel="Info"
            writeTo="console"
            />
  </rules>
</nlog>